.pag-home,
.pag-presupuestos,
.pag-productos,
.pag-contacto,
.pag-comentarios {
  display: grid;
  grid-template-areas:
    "header main main"
    "header main main"
    "header main main"
    "header footer footer";
  grid-template-columns: 0.5fr 1fr 2fr;
  grid-template-rows: 80px repeat(2, 400px) 80px;
  justify-content: center;
  justify-items: center;

  .header { grid-area: header; }
  .main { grid-area: main; }
  .footer { grid-area: footer;}
}
