@import "variables";
main {
  background-color: $beige;
  width: 100%;
;
    .redes {
    display: flex;
    justify-content: flex-end;

    img {
      width: 50px;
    }
  }
  .titulocentral {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }

  h1, h2 {
    font-family: "Limelight", sans-serif;
    background-color:$naranja;
    text-align: center;
    color:$verde;
  }

  h1 {
    width: 80%;
    font-size: 35px;
    font-style: oblique;
    text-decoration: double underline;
    padding: 10px;
  }

  h2 {
    font-size: 35px;
    font-style: oblique;
    margin: 10px;
    text-decoration: underline;
    margin: 30px;
 
  }


  p {
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 10px;
  }

  .fotos {
    display: flex;
    justify-content: space-evenly;

    img {
      margin: 50px 0;
      width: 30%;
    }
  }

  .contenidocentral {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
