@media (max-width: 500px) {
  .pag-home,
  .pag-presupuestos,
  .pag-productos,
  .pag-contacto,
  .pag-comentarios {
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 80px;
  }

  

  .header {
    flex-direction: row;
    padding: 0;

    img { width: 20%; }

    ul {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
    }

    a { font-size: 10px; }
  }

  .redes {
    a{
      img {width: 30px;}
    }
  }

  .pag-home .fotos {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img { width: 80%; }
  }

  .img3, .tarjeta3 {
    display: none;
  }

  .titulocentral { 
    h1 {width: 80%;
  font-size: 25px;}  }

  .texto {
    p {
     font-size: 20px;
     text-align: center;
  }
}

  .comentarios {
    form {font-size: 20px; }
   }
   
.pag-contacto{h2{font-size: 25px;}}
  .tarjetas {
    flex-direction: column;
    align-items: center;
    width: 50%;
    p {font-size: 18px;}
  }
  .presupuesto {
    form {
      font-size: 20px;
      text-align: center;
    }
}
}
