@import "variables";

  .presupuesto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    form {
  background-color: $naranja;
  color: black;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  }
  }

