.Productos1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.tarjetas {
  width: 100%;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
